<!-- delete comment from the lines to see the result of each componenet --> 

<!-- interpolation & events in angular & property binding -->
<!-- <app-home></app-home> --> 

<!-- conditition statements (if else & switch) -->
<!-- <app-condition-statement></app-condition-statement> -->

<!-- for loop -->
<!-- <app-loop></app-loop> -->

<!-- simple form and get form value -->
<!-- <app-simple-form></app-simple-form>  -->

<!-- style binding in angular -->
<!-- <app-style-binding></app-style-binding> -->

<!-- add material UI libarary which help you to create responsive and bautiful UI -->
<!-- ng add @angular/material -->
<!-- <app-material-ui></app-material-ui> -->


<!-- pass data parent to child component -->
<!-- send data child to parent component -->
<!-- <app-parent></app-parent> -->

<!-- pipe in angulare which is a way to change format of var-->
<!-- <app-pipe></app-pipe> -->

<!-- basic routing annd hundle not found page case -->
<!-- <app-basic-routing></app-basic-routing> -->

<app-main></app-main>

